cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
cssselect==1.1.0
cssutils==2.3.0
google-auth==1.32.0
httplib2=0.19.1
idna==2.10
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
numpy=1.21.0
pandas=1.2.5
Pillow==8.2.0
premailer==3.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydicom==2.1.2
pyflakes==2.3.1
requests==2.25.1
rsa==4.7.2
six==1.16.0
urllib3==1.26.5
yagmail==0.14.256
